<!DOCTYPE html>
<html>
  <head>
    <title>Cars</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Cars</h1>
    <% for (var i = 0; i < data.length; i++) { %>
    <div class="car-block">
      <div class="car-block__info">
        <b>Id: <i><%= data[i].id %></i></b>
        <p>Manufacturer: <span><%= data[i].manufacturer %></span></p>
        <p>Model: <span><%= data[i].model %></span></p>
        <p>Price: <span><%= data[i].price %></span></p>
      </div>
      <div>
        <button id="delete-car-btn" onClick=deleteCar(<%= data[i].id %>)>
          Delete
        </button>
        <button id="change-price-car-btn" onClick=changePrice(<%= data[i].id %>)>
          Change Price
        </button>
      </div>
    </div>
    <hr>
    <% } %>
    <div>
      <input id="manufacturer" type="text" placeholder="Manufacturer">
      <input id="model" type="text" placeholder="Model">
      <input id="price" type="text" placeholder="price">
      <button id="add-car-btn">
        ADD NEW CAR
      </button>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/index.js"></script>
  </body>
</html>
